{% extends "index.html" %}
{% block section %}
<div class="post ">
  <!-- <div class="topwrap"> -->
  <!-- <div class="userinfo pull-left">
      <div class="avatar">
        <img src="images/avatar.jpg" alt="" />
        <div class="status green">&nbsp;</div>
      </div>

      <div class="icons">
        <img src="images/icon1.jpg" alt="" /><img src="images/icon4.jpg" alt="" /><img src="images/icon5.jpg" alt="" /><img src="images/icon6.jpg" alt="" />
      </div>
    </div> -->
  <div class="posttext pull-left">
    <h3>ACN: {{ acn }}</h3>
    <p>
      Year: {{ data[0]['year'] }} <br>
      Local Time: {{ data[0]['local_time'] }}
    </p>
    <p>

    </p>

    <p>Narrative: {{ data[0]['report_1'] }}</p>
    <p>Synopsis: {{ data[0]['report_1_2'] }}</p>
  </div>
  <div class="clearfix"></div>
</div>
<!-- <div class="postinfobot">

    <div class="likeblock pull-left">
      <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>25</a>
      <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>3</a>
    </div>

    <div class="prev pull-left">
      <a href="#"><i class="fa fa-reply"></i></a>
    </div>

    <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : 20 Nov @ 9:30am</div>

    <div class="next pull-right">
      <a href="#"><i class="fa fa-share"></i></a>

      <a href="#"><i class="fa fa-flag"></i></a>
    </div>

    <div class="clearfix"></div>
  </div> -->
<!-- </div> -->
<div class="post">
  <h1></h1>
  {{ data[0] }}
</div>
{% endblock %}