<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <!-- get jQuery from the google apis -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>


  <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
  <script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.plugins.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.revolution.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>


  <!-- LOOK THE DOCUMENTATION FOR MORE INFORMATIONS -->
  <script type="text/javascript">
    var revapi;

    jQuery(document).ready(function() {
      "use strict";
      revapi = jQuery('.tp-banner').revolution({
        delay: 15000,
        startwidth: 1200,
        startheight: 278,
        hideThumbs: 10,
        fullWidth: "on"
      });

    }); //ready
  </script>

  <!-- Bootstrap -->
  <!-- <script type="text/javascript" src="../templates/js/functionality.js"></script> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- Custom -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.0.3/css/font-awesome.min.css') }}">

  <!-- CSS STYLE-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" media="screen" />

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rs-plugin/css/settings.css') }}" media="screen" />

</head>

<body>
  <div class="container-fluid">
    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <!-- SLIDE  -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
            <!-- MAIN IMAGE -->
            <img src="https://media-exp1.licdn.com/dms/image/C4D1BAQGID0WxDB3kcg/company-background_10000/0?e=2159024400&v=beta&t=WkU5PsrQkc7MQp8RyLrNcv7YJoYTS_vCOUhAvdKKijA" alt="slidebg1" data-bgfit="cover" data-bgposition="left center"
              data-bgrepeat="no-repeat">
            <!-- LAYERS -->
          </li>
        </ul>
      </div>
    </div>

    <div class="headernav">
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-xs-3 col-sm-2 col-md-2 logo "><a href="/"><img src="{{ url_for('static', filename='images/copa_name_logo.png') }}" alt="" style="height: 65px;"/></a></div>

          <div class="col-lg-8 search hidden-xs hidden-sm col-md-6">
            <div class="wrap">
              <form method="GET" action="{{ '/COPAForum?' }}" class="form">
                <div class="pull-left txt"><input id="query_string" type="text" name="q" class="form-control" placeholder="{{ search_string }}"></input></div>
                <div class="pull-right"><button class="btn btn-default"><i class="fa fa-search"></i></button></div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <section class="content">
      {% block body %}
      {% endblock %}
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-1 col-xs-3 col-sm-2 logo "><a href="#"><img src="{{ url_for('static', filename='images/copa_name_logo.png') }}" alt="" style="height: 65px;"/></a></div>
          <div class="col-lg-8 col-xs-9 col-sm-5 ">Copyright 2020, Developed by UC Davis MSBA Practicum Team for COPA</div>
          <div class="col-lg-3 col-xs-12 col-sm-5 sociconcent">
            <ul class="socialicons">
              <li><a href="https://www.facebook.com/groups/CirrusPilots/"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCnmB9NiMaOqzHe3QyCSZjIQ"><i class="fa fa-youtube"></i></a></li>
              <!-- <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-cloud"></i></a></li> -->
              <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li> -->
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <!-- <div class="container">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation"><a href="/">Home</a></li>
          <li role="presentation"><a href="/about">About</a></li>
          <li role="presentation"><a href="http://flask.pocoo.org" target="_blank">More About Flask</a></li>
        </ul>
      </nav>
    </div>

    <footer class="footer">
      <p>© 2016 Your Name Here</p>
    </footer>
  </div>  -->
  <!-- /container -->

</body>

</html>