{% extends "base.html" %}
{% block title %}COPA OmniSearch{% endblock %}
{% block body %}
<div class="container">
  <div class="container">
    <div class="row">
      <br>
      <div class="col-lg-4 col-md-4">
        <div class="sidebarblock">
          <div class="blocktxt">
            <ul class="cats">
              <!-- <li><a href="#">All </a></li> -->
              <li><a href="{{ '/COPAForum?q=' ~ search_string }}">COPA Forums</a></li>
              <li><a href="{{ '/COPAWikiBlog?q=' ~ search_string }}">COPA Wiki and Blog</a></li>
              <li><a href="{{ '/COPAYouTube?q=' ~ search_string }}">COPA YouTube</a></li>
              <li><a href="{{ '/COPAMagazine?q=' ~ search_string }}">COPA Magazine</a></li>
              <li><a href="{{ '/AVWeb?q=' ~ search_string }}">AV Web</a></li>
              <li><a href="{{ '/ASRS?q=' ~ search_string }}">ASRS</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8">
        <br>
        <div class="pull-left">
          {% if search_string|length %}
          Search results for <b>{{ search_string }}</b> from <b>{{ url_for(request.endpoint) }}</b>
          {% endif %}
        </div>
        <br><br>
        {% block section %}
        {% endblock %}
      </div>
    </div>
  </div>


  {% endblock %}