<div class="dropdown">
  <a data-toggle="dropdown" id='selection'>{{ selection }}</a> <b class="caret"></b>
  <ul class="dropdown-menu" role="menu" name="selection">
    <li role="presentation"><a role="menuitem" action="/COPA" tabindex="-1">COPA Forum</a></li>
    <li role="presentation"><a role="menuitem" href="?selection=WikiBlog" tabindex="-1">Wiki and Blog</a></li>
    <li role="presentation"><a role="menuitem" href="?selection=Magazine" tabindex="-2">Magazine</a></li>
    <li role="presentation"><a role="menuitem" href="?selection=Youtube" tabindex="-3">Youtube</a></li>
    <li role="presentation"><a role="menuitem" href="?selection=AVWeb" tabindex="-3">AVWeb</a></li>
  </ul>
</div>