{% extends "index.html" %}
{% block section %}
{% for i in range(0, len) %}
<div class="post">
  <div class="wrap-ut pull-left">
    <div class="userinfo pull-left">
      <div class="avatar"><img src="{{ get_avatar_url('none') }}" alt="" /></div>
    </div>
    <div class="posttext pull-left">
      <h2><a target="_blank" href="{{ data[i]['url'] }}">{{ data[i]['title'] }}</a></h2>

      <p>
        {{ blurb_highlighter(data[i]['content'][0:500] ~ '...', search_string.lower().split(' '))|safe }}
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="postinfo pull-left">
    <div class="comments">
      <div class="commentbg">
        <!-- {{ data[] }} -->
        <div class="mark"></div>
      </div>
    </div>
    <div class="views"><i class="fa fa-eye"></i> {{ data[i]['views'] }}</div>
    <div class="time"><i class="fa fa-book"></i>{{ data[i]['duration'] }}
    </div>
  </div>
  <div class="clearfix"></div>
</div>

{% endfor %}
{% endblock %}