{% extends "index.html" %}
{% block section %}
{% for i in range(0, len) %}
<div class="post">
  <div class="wrap-ut pull-left">
    <div class="userinfo pull-left">
      <div class="avatar"><img src="images/avatar.jpg" alt="" /></div>
    </div>
    <div class="posttext pull-left">
      <h2>
        <a target="_blank" href="{{ '/ASRS/' ~ data[i]['acn'] }}">
          {{ data[i]['report_1_2'] }}
        </a>
      </h2>
      <p>{{ data[i]['report_1'][0:200] ~ '...' }}</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="postinfo pull-left">
    <div class="comments">
      <div class="commentbg">
        <div class="mark">
        </div>
      </div>
    </div>
    <div class="views">
      <i class="fa fa-eye"></i>
    </div>
    <div class="time">
      <i class="fa fa-book"></i>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endfor %}
{% endblock %}