{% extends "index.html" %}
{% block section %}
{% for i in range(0, len) %}
<div class="post">
  <div class="wrap-ut pull-left">
    <div class="userinfo pull-left">
      <div class="avatar"><img src="images/avatar.jpg" alt="" /></div>
    </div>
    <div class="posttext pull-left">
      <h2>
        <a target="_blank" href="{{ data['hits']['hit'][i]['fields']['link'] }}">
          {{ data['hits']['hit'][i]['fields']['article']}}
        </a>
      </h2>
      <p>{{ data['hits']['hit'][i]['fields']['content'][0:200] ~ '...' }}</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="postinfo pull-left">
    <div class="comments">
      <div class="commentbg">
        {{ data['hits']['hit'][i]['fields']['number'] }}
        <div class="mark">
        </div>
      </div>
    </div>
    <div class="views">
      <i class="fa fa-eye"></i>
      {{ data['hits']['hit'][i]['fields']['name'] }}
    </div>
    <div class="time">
      <i class="fa fa-book"></i>
      {{ data['hits']['hit'][i]['fields']['author'] }}
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endfor %}
{% endblock %}