{% extends "index.html" %}
{% block section %}
{% for i in range(0, len) %}
<div class="post">
  <div class="wrap-ut pull-left">
    <div class="userinfo pull-left">
      <div class="avatar"><img src="images/avatar.jpg" alt="" /></div>
    </div>
    <div class="posttext pull-left">
      <h2><a href="#">{{ data['hits']['hit'][i]['fields']['title'] }}</a></h2>
      <p>{{ data['hits']['hit'][i]['fields']['body'][0:200] ~ '...' }}</p>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="postinfo pull-left">
    <div class="comments">
      <div class="commentbg">
        {{ data['hits']['hit'][i]['fields']['totalreplies'] }}
        <div class="mark"></div>
      </div>
    </div>
    <div class="views"><i class="fa fa-eye"></i>
      {{ data['hits']['hit'][i]['fields']['totalviews'] }}
    </div>
    <div class="time"><i class="fa fa-book"></i>
      {{ data['hits']['hit'][i]['fields']['source'] }}
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endfor %}
{% endblock %}